<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../css/main.css" type="text/css">
    <link rel="stylesheet" href="../css/components.css" type="text/css">
</head>
<body>
    <div class="container">
        <div class="container-left">
        </div>
        <div class="container-right column-center-center">
            <div class="container-login-outer">
                <img src="../img/endeal_logo.svg" alt="endeal logo">
                <div id="container-login">
                    <form id="form-login" action="" class="form-base column-center-center">
                        <input type="text" placeholder="Email" class="text-input-base">
                        <input type="password" placeholder="Password" class="text-input-base">
                        <a href="">Forgot password?</a>
                        <button type="submit" class="button-base">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>