@import url("components.css");

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');

.heebo-regular {
    font-family: "Heebo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    background: rgb(2,0,36);
    background: linear-gradient(180deg, #6C6C6C 0%, rgba(0, 0, 0, 0.86) 68.5%);
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;

    font-family: "Heebo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#container {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 10% 80% 10%;
}

.top-bar {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

    background: linear-gradient(0deg, #000000 -16.67%, #555555 106.67%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    /* padding: 1rem 0; */
    height: 5vh;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.top-bar i {
    color: white;
    font-size: 2.5rem;
    margin-right: 1rem;
}

.top-bar .logo {
    border-right: 4px solid white;
    margin: 0;
    height: 5vh; 
    width: 25%;
    box-sizing: border-box;
}

nav {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;

    box-sizing: border-box;
    border-right: 4px solid black;
    height: 95vh;
}

.content {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    padding: 1rem;
    min-height: calc(90vh - 2rem);
}

.content-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3rem;
}


footer {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;

    background: linear-gradient(360deg, #737373 0%, #000000 100%);
    color: white;
    padding: 1rem 0;
    box-sizing: border-box;
    height: calc(5vh);
}

.column-center-stretch {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
}

#container {
    background-color: whitesmoke;
}

#form-login {
    padding: 3rem;
    /* width: 60vw; */
}

#form-login > a {
    font-size: 10px;
    text-decoration: none;
    color: black;
    align-self: flex-start;
    box-sizing: content-box;
}

#form-login > input {
    width: 100%;
}

#form-login > button {
    box-sizing: content-box;
    width: 100%;
}

#form-login > input {
    width: 100%;
}

#container-login {
    margin-top: 0.5rem;
    background-color: whitesmoke;
}

.form-base {
    gap: 1rem;
}

.row-center-space-around {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.column-center-space-around {
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    align-items: center;
}

.f-column {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
}

.container-left {
    background-image: url('../img/salesman.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 35% 0;
    filter: blur(2px);
    width: 40vw;
}

.container-login-outer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
}

#menu-toggle {
    display: none;
}

.hamburger-menu {
    display: none;
}

@media screen and (max-width: 600px) {
    .container-left {
        display: none;
    }
    
    .container { 
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #container {
        grid-template-columns: 100%;
        grid-template-rows: 36% 60% 20%;
    }

    .top-bar {
        height: 7vh;
        grid-column-start: 1;
        grid-column-end: 3;
        justify-content: space-between;
    }

    nav {
        position: absolute;
        left: -100%; 
        -webkit-transform: left 0.3s ease;
        -o-transform: left 0.3s ease;
        transform: left 0.3s ease;
        background-color: whitesmoke;
        z-index: 1;
        margin-top: 7vh;
        width: 70%;
    }



    .show-nav {
        left: 0;
    }

    #menu-toggle {
        display: block;
        position: relative;
        top: 0.25rem;
        left: 0.25rem;
        z-index: 1;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

    }

    #menu-toggle input {
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        top: -0.35rem;
        left: 5px;
        padding: 0;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
        -webkit-touch-callout: none;
    }

    #menu-toogle label {
        position: relative;
        display: block;
        width: 0.5rem;
        height: 0.5rem;
    }

    #menu-toggle label span {
        display: none;
    }
        
    #menu-toggle label div {
        display: block;
        width: 30px;
        height: 2px;
        margin-bottom: 6px;
        position: relative;
        background: whitesmoke;
        border-radius: 3px;
        z-index: 1;
        -webkit-transform-origin: 4px 0px;
        -ms-transform-origin: 4px 0px;
        transform-origin: 4px 0px;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    .hamburger-menu {
        justify-self: flex-end;
        display: flex;
        align-items: center;
    }

    .hamburger-menu button {
        padding: 0;
        margin: 0;
        border: none;
        background: none;
    }
    
    .hamburger-menu i {
        margin-left: 1rem;
        text-align: center;
    }

    .hamburger-menu:hover {
        cursor: pointer;
    }



    .logo {
        display: none;
    }
    
    .content {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .content h3 {
        align-self: center !important;
    }

    footer {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}