.row-center-space-around {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.row-space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.column-center-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.column-space-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.column-space-around {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.column-center-space-around {
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    align-items: center;
}

.column-center-stretch {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
}

.horizontal-scroll {
    overflow-x: auto;
    width: 100%;
}