.menu-list {
    display: flex;
    flex-direction: column;
}

.menu-section-header,
.menu-entry {
    border-bottom: var(--border-thin);
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.menu-section-header {
    font-weight: bold;
    padding: var(--gap-4x);
}

.menu-entry i {
    margin-right: var(--gap-base);
}

.menu-entry a {
    padding: var(--gap-4x);
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
}

.menu-entry:hover {
    background-color: var(--secondary-color);
    cursor: pointer;
}

.menu-logout {
    border-top: var(--border-thin);
    background-color: rgba(var(--error-color-rgb), 0.4);
}